#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


#ChromaDB
data/chromadb/
*.sqlite3
*.db

#Chat History
chat_history.json

#Virtual Environment
.venv/
venv/
env/
ENV/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/